.movies-card-list {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 70px 70px;
}

.movies-card-list__list {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}