.navigation {
  max-width: 215px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation__link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.hide-block {
  display: none;
}